:root {
  /* Fonts */
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Color */
  --main-txt-cl: #555555;
  --secondary-txt-cl: #303030;
  --light-txt-cl: #ffffff;
  --accent-txt-cl: #ff6c00;
  --accent-bg-cl: #ff6c00;
  /* Other */
}

/* Base styles */
body {
  background-color: #ffff;
  font-family: Open Sans;
  font-size: 16px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: var(--main-txt-cl);
}
.visually-hidden {
  position: Absolute;
  widths: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
}
.title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--secondary-txt-cl);
}
.title-light {
  color: var(--light-txt-cl);
}
.btn {
  font-family: inherit;
}

/* Header */
.header {
  background-color: #111319;
}
.header-logo {
}
.header-logo-img {
}
.header-nav {
}
.header-nav-list {
}
.header-nav-item {
}
.header-nav-link,
.header-contact {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--light-txt-cl);
}
.header-nav-link:hover,
.header-nav-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-bg-cl);
}
.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
  background-color: transparent;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
}
.btn-light {
  color: var(--light-txt-cl);
}
/* Hero */
.hero {
  background-color: #111319;
}
/* About */
.about {
}
.about-list {
}
.about-item {
}
.about-desc {
}

.about-btn {
}

/* Services and Prices */
.prices {
  background-color: #111319;
}

#services-and-prices {
}
.prices-list {
}
.prices-item {
}
.prices-btn {
}

/* Benefits Section */
.benefits {
}
.benefits-list {
}
.benefits-item {
}
.benefits-value {
}
.benefits-sup {
}
.benefits-tex {
}

.benefits-header {
}
.benefits-desc {
}
/* Barbers section */

/* Gallery section */
/* Booking section */
/* Contacts */
.contacts {
  background-color: #111319;
}
